################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClientApi/bin
/ClientApi/obj
/ClientApi/Properties
/ClientApi.InMemoryTests/bin/Debug/netcoreapp2.1
/ClientApi.InMemoryTests/obj
/ClientApi.SmokeTests/bin/Debug/netcoreapp2.1
/ClientApi.SmokeTests/obj
/ApiTestingTemplate.sln.DotSettings.user
/ClientApi3/bin/Debug/netcoreapp3.1
/ClientApi3/obj
*.user
